.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar a {
    font-size: 1rem;
    color: #f6f4f2;
    text-decoration: none;
}

.nav-inner {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}

.nav-right {
    margin-left: auto;
    display: flex;
    gap: 48px
}

body {
    background-color: #b63f75;
    color: #f6f4f2;
    font-family: "Libre Baskerville", "Times New Roman", Times, serif;
    margin: 0;
}

/*Home page layout, keeps header image at bottom*/
.home {
    min-height: 100vh;
    padding-top: 20px;
}

.title {
    display: block;
    margin-top: 60px;
}

/*Fit cover image to full page length*/
.header-image {
    width: 100vw;
    height: auto;
    display: block;
}

