html { 
    scroll-behavior: smooth;
    scroll-padding-top: 150px; 
}

body {
    font-family: "Avenir", Helvetica, sans-serif;
    margin: 0;
}

body#home-page {
    background-color: #b63f75; 
    color: #f6f4f2;
}

body.work-pages {
    background-color: #f6f4f2;
    color: #b63f75;
}

h1, h3 {
    font-weight: normal;
}

a { 
    color:#f6f4f2;
    font: Geneva;
    font-size: 1.3vw;
    margin: 5px;
 }

/*Horizontal line for contact section*/
hr { 
    border-top: 1px solid #f6f4f2; 
}

/*---- NAVBAR ----*/
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #b63f75;
    padding-bottom: 4px;
}

.top-bar a {
    font-size: 1rem;
    color: #f6f4f2;
    text-decoration: none;
}

.light-nav {
    background-color: #f6f4f2;
}

.light-nav a{
    color: #1B154D;
}

.nav-inner {
    display: flex;
    align-items: center;
    padding: 12px 20px;
}

.nav-right {
    margin-left: auto;
    display: flex;
    gap: 48px
}

/*---- HOME SECTION ----*/
.home {
    min-height: 100vh;
    padding-top: 5px;
    position: relative;
    overflow-x: hidden;
}

.title {
    display: block;
    margin: 80px auto 0;
    position: relative;
    z-index: 2;
}

.header-image {
    width: 100vw;
    height: auto;
    display: block;
    margin-top: -17.1%; /* Controls header text and image overlap */
    position: relative;
    z-index: 1;
}

/*---- ABOUT SECTION ----*/
.about-section {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 130px 0;
    padding: 20px 50px;
    align-items: center;
}

.about-content {
    text-align: center;
}

.about-title {
    width: 70%;
}

.about-content p {
    padding: 10px 70px
}

/*---- CONTACT SECTION ----*/
.contact-section {
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    margin-bottom: 40px;
}

.contact-content {
    text-align: right;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: flex-end;
}

.logo {
    width: 15px;
    height: 14px;
}

/*---- MY WORK PAGE ----*/
.work-titles {
    font-size: 3vw;
    margin-top: 100px;
    text-align: center;
    color: #1B154D;
    margin-bottom: 0;
}

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;
    padding: 10px 60px;
    margin: 0 auto; /* Centers the container */
}

/* To keep work titles centered over each image */
.work-item {
    position: relative;
    display: block;
}

.work-item img {
    width: 85%;
    margin: 0 auto;
    display: block;
    transition: filter 0.3s;
}

/* Darkens image on hover */
.work-item:hover img{
    filter: brightness(0.6);
}

#mag-cover img {
    width: 50%;
}

#color-exp img {
    width: 95%;
}

.work-item-title {
    position: absolute;
    color: #f6f4f2;
    font-size: 2vw;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers text */
    text-align: center;
    transition: opacity 0.3s;
}

.work-item:hover .work-item-title {
    opacity: 1;
}


/*---- INDIVIDUAL WORK PAGES ----*/
.work-page-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 50px;
}

.work-page-text {
    margin: 180px 0;
    padding: 80px 50px;
    border-right: 2px solid #1B154D;
    color: #1B154D;
}

/* Link buttons */
.work-page-text a{
    display: inline-block;
    font-size: 1.4vw;
    font-weight: 600;
    color: #b63f75;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #b63f75;
    border-radius: 6px;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease;
}

/* Hover effect */
.work-page-text a:hover {
    background-color: #b63f75;
    color: white;
}

/* Key features heading and tools */
.key-features h4, .tools{
    font-size: 1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 0.8rem;
    font-weight: 600;

}

#small-link { font-size: 1.5vw; }

.work-page-images img {
    display: block;
    margin: auto;
    width: 80%;
}

/* Bake game images and video layout */
.work-page1-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 20px;
    padding: 60px 40px;
}

.work-page1-images img { width: 100%; }

.work-page1-images video {
    display: block;
    margin: auto;
    width: 80%;
    grid-column: 1 / -1;
}

#bakegame4 {
    margin-top: 10px;
    grid-column: 1 / 3; /* Spans both columns */
}

/* Finn's World images and video layout */
.work-page2-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 20px;
    padding: 60px 40px;
    justify-items: center;
}

#finngame { width: 80%; }

.work-page2-images video {
    width: 80%;
    grid-column: 1 / -1;
}

/* Diary images layout */
.work-page3-images img {
    display: block;
    margin: auto;
    width: 80%;
    padding: 10px 0;
}

/* 3D Scene images layout */
.work-page4-images {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.work-page4-images img {
    width: 70%;
}

/* Magazine images layout */
.work-page5-images {
    display: grid;
    gap: 20px;
    padding: 20px 40px 40px;
    justify-items: center;
}

.work-page5-images img {
    width: 100%;
}

#mag4 {
    width: 60%;
    grid-column: 1 / 4;
}

/* Pictograph image layout */
.work-page6-images {
    margin-top: 70px;
    display: grid;
    justify-items: center;
}

.work-page6-images img {
    width: 90%;
}

/*---- WORK PAGE NAVIGATION ----*/
.work-nav {
    display: flex; 
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.next, .prev {
    color: #b63f75;
    text-decoration: none;
    padding: 20px;
}

